@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
	;

body {
	font-family: 'Open Sans', 'sans-serif';
	font-size: 1em;
	font-weight: 400; 
 	background-color: #ffe4e1;
 	text-align: center;
 	align-items: center;
}

h1 {
	color: #4B0082;
}

.Botao1 {
	text-decoration: none;
	background-color: #836FFF;
	padding: 5px 10px 5px 10px;
	color: #F0F8FF;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

#excluir {
	text-decoration: none;
	background-color: red;
	padding: 5px 10px 5px 10px;
	color: #F0F8FF;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

#relatorioBotao {
	text-decoration: none;
	background-color: red;
	padding: 5px 10px 5px 10px;
	color: #F0F8FF;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.Caixa0 {
	width: 30px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
	align-items: right;
}

.Caixa00 {
	width: 50px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
	align-items: center;
}

.Caixa001 {
	width: 70px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
	align-items: center;
}

.Caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
	align-items: center;
}

.Caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
	align-items: center;
}

#Caixa3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	align-items: center;
}

#Caixa3_0 {
	width: 30px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	border-radius: 5px;
	align-items: center;
}

#Caixa3_00 {
	width: 50px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	border-radius: 5px;
	align-items: center;
}
#Caixa3_001 {
	width: 70px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	border-radius: 5px;
	align-items: center;
}

.Tabela {
	margin-top: 30px;
	border-collapse: collapse;
	
}

.Tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;
	text-align: center;
}	
.Tabela td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	background-color: white;
	
	}
	
